@using CommunityToolkit.Mvvm.Messaging
@using MauiAppNotificationNew.Models
@inherits LayoutComponentBase

@inject NavigationManager nav;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {

    private string? id { get; set; } // Parameter to assign NavigationID value


    // Methods

    protected override void OnInitialized()
    {
        // Called on notification recieved
        WeakReferenceMessenger.Default.Register<PushNotificationReceived>(this, (r, m) =>
        {
            string msg = m.Value;

            // Calls the NavigateToPage method to navigate to page according to the NavigationID specified in notification parameter
            NavigateToPage(); 
        });

        // Calls the NavigateToPage method to navigate to page according to the NavigationID specified in notification parameter
        NavigateToPage();
    }

    // Method to handle navigation to pages according to the NavigationID specified in notification parameter
    public void NavigateToPage()
    {
        // Retrieve the NavigationID from preferences
        string id = Preferences.Get("NavigationID", "");

        if (id == "1")  // Navigate to a page based on the NavigationID
        {
            nav.NavigateTo("/"); // Navigate to the home page
        }
        else if (id == "2")
        {
            nav.NavigateTo("/counter"); // Navigate to the counter page
        }
        else if (id == "3")
        {
            nav.NavigateTo("/weather"); // Navigate to the weather page
        }

        // Removes the NavigationID and id values, so it will open main page if there is no notification.
        Preferences.Remove("NavigationID");
        Preferences.Remove("id");
    }
}
