@page "/"
@using MauiAppNotificationNew.Platforms.Android.Services

<h1>Notification sender</h1>

<p role="status">Click to send notification!</p>

<button class="btn btn-success" @onclick="CallSendNotificationMethod"> Send notification! </button>

@code {

    // Method calling SendNotification method in MainPage.xaml.cs
    private void CallSendNotificationMethod()
    {
        var mainPage = new MainPage();
        mainPage.SendNotification();
    }
}